<form action="./weather" method="" id="form">
        <label for="location" ></label>
        <div id="stuff">
            <h1 id="text">Whats the weather like?</h1>
        <input type="text" name="location" id="locationInput" placeholder="Please Enter a Location">
        <input type="submit" value="submit" id="submit">
    </div>
        <div id="info"></div>
    </form>